

.banner {
  background-image: url('https://www.teahub.io/photos/full/184-1842940_taekwondo-wallpaper-hd-best-taekwondo-quotes.jpg');
  color: white;
  background-size: cover;
  background-position: center;
  padding: 200px 0;
}
